<h1 class="title">Contact Tree</h1>

<ng-container *ngFor="let contact of contacts">
  <div class="heder" (click)="showInnerContact(contact)">{{ contact.name }}</div>

  <ng-container *ngFor="let inContact of contact.contacts">
    <div *ngIf="inContact.show" (click)="showInInnerContact(inContact)" class="heder inHeder">{{ inContact.name }} </div>

    <ng-container *ngFor="let  inInContact of inContact.contacts">
      <div *ngIf="inInContact.show  && inContact.show" class="heder inInHeder">{{ inInContact.name }} </div>

    </ng-container>
  </ng-container>
</ng-container>
